{% extends "baseTemplate.html" %}

{% block content %}
{% for field, errors in form.errors.items() %}
{{ form[field].label }}: {{ ', '.join(errors) }}
</br>
{% endfor %}
<div class="login">
    <div class="heading">
        <h1>Forgot Password</h1>
            <form id="request" class="main_form" method="post">
            {{ form.csrf_token }}
                <div class="fs-div">
                    {{ form.email(placeholder="Enter Email")}}
                    <div class="col-md-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                               {% if messages %}
                               <ul class=flashes>
                               {% for category, message in messages %}
                                 <li class="{{ category }}">{{ message }}</li>
                               {% endfor %}
                               {% endif %}
                               {% endwith %}
                               </ul>
                        <button class="send_btn" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}