{% extends "baseTemplate.html" %}

{% block title %}All Customers{% endblock %}


{% block content %}
<div class="container-1">
    <form method="get" class="search-bar">
        <input type="text" placeholder="Search for customer" name="q" value="{{ q }}">
        <button type="submit" value="Search"><i class="bx bx-search"></i></button>
       
    </form>
</div>





Du är på sidan {{ page }} av totalt {{ pages }}
<div class="box-country">
    <table class="table">
        <thead>
            <th>Kundnummer
                <a href="/customers?sortColumn=id&sortOrder=asc&q={{ q }}">
                    <i class='bx bxs-up-arrow-alt'></i> 
                </a>
                <a href="/customers?sortColumn=id&sortOrder=desc&q={{ q }}">
                    <i class='bx bxs-down-arrow-alt'></i>
                </a>
            </th>
            <th>Personnummer
                <a href="/customers?sortColumn=nationalid&sortOrder=asc&q={{ q }}">
                    <i class='bx bxs-up-arrow-alt'></i> 
                </a>
                <a href="/customers?sortColumn=nationalid&sortOrder=desc&q={{ q }}">
                    <i class='bx bxs-down-arrow-alt';></i>
                </a>
            </th>
            <th>Namn 
                <a href="/customers?sortColumn=name&sortOrder=asc&q={{ q }}">
                    <i class='bx bxs-up-arrow-alt'></i> 
                </a>
                <a href="/customers?sortColumn=name&sortOrder=desc&q={{ q }}">
                    <i class='bx bxs-down-arrow-alt'></i>
                </a>
            </th>
            <th>Adress
                <a href="/customers?sortColumn=streetaddress&sortOrder=asc&q={{ q }}">
                    <i class="bx bxs-up-arrow-alt"></i>
                </a>
                <a href="/customers?sortColumn=streetaddress&sortOrder=desc&q={{ q }}">
                    <i class="bx bxs-down-arrow-alt"></i>
                </a>
            </th>

            <th>City  
                <a href="/customers?sortColumn=city&sortOrder=asc&q={{ q }}">
                    <i class='bx bxs-up-arrow-alt'></i> 
                </a>
                <a href="/customers?sortColumn=city&sortOrder=desc&q={{ q }}">
                    <i class='bx bxs-down-arrow-alt'></i>
                </a>
            </th>
            <th>
                    
            </th>
            <td></td>
            </thead>
        <tbody>
            {%  for p in listOfCustomers  %}
            <tr>
                <td> {{ p.Id }} </td>            
                <td> {{ p.NationalId }} </td>
                <td> {{ p.GivenName }} {{ p.Surname }} </td>
                <td> {{ p.Streetaddress }} </td>  
                <td> {{ p.City}} </td>      
                <td>
                    <a href="{{ url_for('customerPage', id=p.Id) }}" class="btn btn-outline-dark" style="color:grey;">
                        See more
                    </a>
                </td>
                <td>
                    <a  href="{{ url_for('editcustomer', id=p.Id)}}" class="btn btn-outline-dark" style="color: grey;">Edit Customer</a>
                </td>
            </tr>
            {%  endfor  %}
            <tfoot>
                <tr>
                    <td>
                    {% if has_prev %}
                    <a class="send_btn" type="submit" href="/customers?page={{ page - 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">Prev
                    </a>
                    {% endif %}
                    </td>
                    <td>
                    {% if has_next %}
                    <a class="send_btn" type="submit" href="/customers?page={{ page + 1 }}&sortColumn={{ sortColumn }}&sortOrder={{ sortOrder }}&q={{ q }}">Next
                    </a>
                   
                    {% endif %}
                    </td>
                </tr>
            </tfoot>
        </tbody>
    </table>
</div>

{% endblock %}
