{% extends "baseTemplate.html" %}
{% from "formMacro.html" import render_field %}

{% block title %}
New Transaction
{% endblock %}



{% block content %}



{% if depositOrWithdraw == True %}
    </br>
    <br/>
    <br/>
    <div class="container-fluid">
        <div class="row m-t-30">
            <div class="col-md-12">
                <form method="POST" style="position: relative;width: 50%;right: -21%;">
                    {{ form.csrf_token }}
                    <div class="card">
                    <div class="card-header">
                        <strong>Deposit/Withdraw</strong> money
                    </div>
                    <div class="card-body card-block">
                      {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for category, message in messages %}
                          <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                    {{ render_field(form.type) }}
                    {{ render_field(form.amount) }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-secondary btn-sm">
                          <i class='bx bxs-wallet'></i> Done
                        </button>
                        <a class="cancel_deposit" href="{{ url_for('account', id=account.Id) }}">
                          <i class='bx bx-x'></i>
                          Cancel Deposit</a> 
                    </div>
                </div>  
            </form> 
            </div>
        </div>
    </div>
    {% endif %}

    {% if transferValue == True %}
    <div class="container-fluid">
      <div class="row m-t-30">
          <div class="col-md-12">
              <form method="POST" style="position: relative;width: 50%;right: -21%;">
                  {{ form.csrf_token }}
                  <div class="card">
                  <div class="card-header">
                      <strong>Transfer</strong> money
                  <div class="card-body card-block">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      <ul class=flashes>
                      {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  {% endwith %}
                  {{ render_field(form.Receiver) }}
                  {{ render_field(form.Amount) }}
                  </div>
                  <div class="card-footer">
                      <button type="submit" class="btn btn-secondary btn-sm">
                        <i class='bx bxs-wallet' ></i> Done
                      </button>
                      <a class="cancel_deposit" href="{{ url_for('account', id=getTransferingAccount.Id) }}">
                        <i class='bx bx-x'></i>
                        Cancel Transfer</a>    
                  </div>
              </div>  
          </form> 
          </div>
      </div>
  </div>
  {% endif %}

{% endblock %}    
